.container-dash{
    border-style: solid;
    background-color: lightgrey;
    width:95%;
    padding: 10px;
    margin: 5px;
    
}
#dash-box{
  margin-right: 10px;
  margin-left: 10px;
}
.hotel-name{
    padding: 10px;
    margin: 20px;
}
.col-3,.col-8{
    border-style: solid;
    background-color: white;
    margin: 5px;
    padding: 10px;
}
.col-1{
    font-weight: bold;
    font-size: 30px;
}
.float-end{
    margin: 5px;
}

.routeBtn{
    text-decoration: none;
}

.generateReportbtn{
    float: right;
    padding: 15px;
}
/* 
.row justify-content-evenly{
    display: table;
} */

.pagination {
    justify-content: left;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul.pagination li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #e2e2e2;
    background-color: rgb(102, 102, 102);
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  
  ul.pagination li a {
    text-decoration: none;
    color: #003b6e;
    font-size: 20px;
  }
  
  ul.pagination li.active a {
    color: white;
  }
  ul.pagination li.active {
    background-color: rgb(0, 0, 0);
  }
  
  ul.pagination li:hover,
  ul.pagination li a.active {
    color: rgb(255, 145, 0);
  }
  
  .page-selection {
    width: 48px;
    height: 30px;
    color: #003b6e;
  }
  
  .pagination-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }


  .topic{
    color: black;
  }

  .super-topic{
    color: black;
  }

  .sub-topic{
    color: black;
  }

  #button{
    margin: 10px;
  }

  #active-button{
    z-index: 1;
  }

  #description{
    width: 788px;
    /* height: 100px; */
  }

  #food-tbl{
    font-size: 15px;
  }
  #servicelist-tbl{
    font-size: 15px;
  }


  #dash-food{
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #attendance-tbl{
    font-size: 16px;
  }

  #description{
    margin-bottom: 10px;
  }

  #workemprep{
    width:auto;
    border: 2px solid black;
    padding: 15px;
    margin:2px;
    background-color: #d4d4d4;
    border-radius: 20px;
  }

  #red{
    color: red;
  }



