html{
  /* font-size: 62.5%;  */
  box-sizing: border-box;
  /* background-color: #12161a; */
}
  body{
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     /* background-color: #12161a; */
  }
  
  #root{
    height: 100%;
    /* background-color: #12161a; */
  }
  
/* Layout */
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main';
  /* 'footer'; */
  
}

  /* .row-header{
      height: 90px;
      
  } */
  header{
    grid-area: header;
    background-color: #12161a;
  
  
  }
  .main{
    grid-area: main;
    padding: 1rem;
    height: 100vh;
  }



  
  /* Common */
  h1{
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  h2{
    font-size: 1.6rem;
    padding: 1rem;
  
  }
  h3{
    color: rgb(10, 10, 10);
  }

  p{
    color: rgb(12, 12, 12);
    font-size: 20px;
  }
  a{
    text-decoration: none;
  }
  .a:hover{
    color: #ff8000;
  }
  
  ul{
    padding: 0;
    margin: 0;
    width: 700px;
    list-style-type:none;
  }

  #cart-proceed{
    width: 500px;
    margin-right: 300px;
  }  
  ul1{
    
    
    width: fit-content;
    height: fit-content;
    list-style-type:none;
  
  }
  
  
 #p-desc ul li{
    margin-top: 1rem;
    width: 200px;
   
  }

  #c-desc li{
    margin-top: 1rem;
    width: 200px;
  }

  input,
  select,
  textarea,
  button{
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  
  #select-qty{
    padding: 0.5rem;
  }
  button{
    background-color: #f8f8f8;
    cursor: pointer;
  }
  
  button.primary{
  
    background-color: #f0c040;
  }
  button.block{
    width: 100%;
  }
  
  button.small {
    font-size: 1.2rem;
  }
  
  /* input:hover,
  select:hover,
  textarea:hover,
  button:hover{
    border: 0.1rem #404040 solid;
  } */
  
  /* Header */
  .header a{
    color: #ffffff;
    padding: 1rem;
  }
  a.shopName{
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .badge{
    background-color: #f02020;
    color: #ffffff;
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    font-size: 1.4rem;
    margin-left: 0.2rem;
  }
  
  .row{
    display:flex;
    /* flex-direction:column; */
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
  
    

  }

  #cart-card{
    border-style: solid;
    padding: 10px;
  }

  /* .row {
  
    margin-left: 500px;
    align-content: space-between;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    
  } */
  .row.center{    
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content:space-between;
    width: 280px;
    /* height: 280px; */
    height: 100vh;
    margin-top: 80px;
      
  }
  .row.top{
    align-items: flex-start;
    width: fit-content;
    margin-top: 60px;
    
    
  }
/* 
  .rows.center{     
    justify-content:space-between;
    width: 300px;
    
  } */

  /* .row1.center{     
    justify-content:space-between;
    width: 280px;
    
  } */
  /* .row1.top{
    align-items: center;
    
  } */


  /* .row5 {
 
    margin-left: 500px;
    align-content: space-between;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    
  } */
  /* .row5.center{     
    justify-content:space-between;
    width: 280px;
    
  } */
  /* .row5.top{
    align-items: center;
    
  } */

  .col-5{
    background-color: #c7c7d1;
    margin-left: 300px;
    width: 200px;
  }


  .col-1{
    flex: 1 1 25rem;
    
  }
  
  #p-desc{
    width: 300px;
    /* height: 300px; */
  }

  #cart-desc{
    width: 500px;
  }
  .col-2{
    flex: 2 1 100rem;
    margin-top: 50px;
  }
  
  .min-30{
    min-width: 30rem;
  }
  
  /* image */
  
  .img{
    border-radius: 0.5rem;
  }
  
  img.small{
    max-width: 5rem;
    width: 100%;
  }
  
  img.medium{
    max-width: 29rem;
    width: 100%;
    height:200px;
  }
  #img-cart{
    width: 300px;
  }
  img.large{
    width: 500px;
    margin: 2px;
  }
  
  /* Card */
  .card{
    border: 0.1rem #c0c0c0 solid;
    background-color: #0a0a0a;
    border-radius:0.5rem;
    margin: 1rem;
    height: 350px;
    margin-left: 100px;
    width: 100px;
  }
  

  .card-body{
    padding: 1rem;
    height: 100vh;

    
    /* width: 300px;
    height: fit-content;
    margin-top: 20px;
    margin-left: 300px; */
  }
  

  .card1{
    border: 0.1rem #2b2a2a solid;
    background-color: #dbd4d4;
    border-radius:0.5rem;
    margin: 1rem;
    height: 250px;
    margin-right: 200px;
    width: 300px;
  
  }
  
#card1{
  width: 500px;
  margin-right: 10px;
  padding: 10px;
}
  
  .card-body1{
    padding: 1rem;
    height: fit-content;
  

    
    /* width: 300px;
    height: fit-content;
    margin-top: 20px;
    margin-left: 300px; */
  }
  

  /* .card-body7{
    padding: 1rem;
  
    width: 600px;
    height: 600px;
    
    margin-left: 300px;
  } */

    

  /* .card-body >* {
    margin-bottom: 0.5rem;
  } */

  #col{
    font-size: 1.5rem;
    width: 200px;
  }
 
  /* Rating  */
  .rating span{
    color: #f0c040;
    margin:0.1rem;
  }
  
  .rating span:last-child{
    color: #404040;
  }
  
  /* Alert */
  
  .loading {
    display: block !important;
  }
  
  .success {
    color: #20a020;
  }
  .error {
    color: #a0202a;
  }
  
  .alert{
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
  }
  
  .alert-info{
    color: #2020a0;
    background-color: #e0e0ff;
  }
  
  .alert-danger{
    color: #a02020;
    background-color: #ffe0e0e0;
  }
  
  .alert-success {
    color: #20a020;
    background-color: #eeffe0;
  }
  
  /* Form */
  .form {
    max-width: 60rem;
    width: 500px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .form > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

/*   
  .form label {
    margin: 1rem 0;
  }
   */


  /* Dropdown */
  .dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    min-width: 12rem;
    padding: 1rem;
    z-index: 1;
    background-color: #203040;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  



  /* Checkout Steps */
  .checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    padding: 1rem;
    font-weight: bold;
  }
  .checkout-steps > div.active {
    border-top-color: #f08000;
    color: #f08000;
  }

  



  /* Table */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  .table tbody tr:nth-of-type(odd) {
    background-color: #f4f4f4;
  }
  .table td,
  .table th {
    text-align: left;
    border: 0.1rem solid #e4e4e4;
    padding: 0.5rem;
  }
  .table button {
    margin: 0 0.2rem;
  }

  #container-c{
    border-style: solid;
    padding: 35px;
    border-color: grey;
    position: relative;
    left: 0;
    right: 0;
    margin: 80px;
}



  