.container-dash{
    border-style: solid;
    background-color: lightgrey;
    width:95%;
    padding: 10px;
    margin: 5px;

    
}
.hotel-name{
    padding: 10px;
    margin: 20px;
}
.col-3,.col-8{
    border-style: solid;
    background-color: white;
    margin: 5px;
    padding: 10px;
}
.col-1{
    font-weight: bold;
    font-size: 30px;
}
.float-end{
    margin: 5px;
}

.routeBtn{
    text-decoration: none;
}

.generateReportbtn{
    float: right;
}


.pagination {
    justify-content: left;
    width: 35px;

  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul.pagination li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #838282;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  
  ul.pagination li a {
    text-decoration: none;
    color: #003b6e;
    font-size: 20px;
  }
  
  ul.pagination li.active a {
    color: white;
  }
  ul.pagination li.active {
    background-color: rgb(59, 61, 143);
  }
  
  ul.pagination li:hover,
  ul.pagination li a.active {
    color: rgb(255, 145, 0);
  }
  
  .page-selection {
    width: 48px;
    height: 30px;
    color: #003b6e;
  }
  
  .pagination-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }


  .topic{
    color: black;
  }

  .super-topic{
    color: black;
  }

  .sub-topic{
    color: black;
  }

  #button{
    margin: 10px;
  }

 #active-button{
    z-index: 1;
  }